<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/styleCadastro.css">
    <link rel="stylesheet" href="../stylesheets/styleHeader.css">
    <link rel="stylesheet" href="../stylesheets/styleCadastroProdutos.css">



    <title>Cadastro de Produtos</title>
</head>

<body>
    <%- include('./partials/header') %>

        <main>
            <section class="tituloCadastroDeProdutos">
                <h1>CADASTRO DE PRODUTOS</h1>
            </section>

            <form action="/admin/cadastro" method="post" enctype="multipart/form-data">
                <section class="campoFormularioProdutos">
                    <article class="campoInputProdutos">
                        <label for="SKU">SKU *</label>
                        <input type="text" name="SKU" id="nomeDoProduto">
                    </article>
                    <article class="campoInputProdutos">
                        <label for="nome">NOME DO PRODUTO *</label>
                        <input type="text" name="nome" id="nomeDoProduto">
                    </article>                
                    <article class="campoInputProdutos">
                        <label for="descricao">Descrição do produto *</label>
                        <input type="text" name="descricao" id="nomeDoProduto">
                    </article>
                    <article class='campoInputProdutos'>
                        <label for="valor">PREÇO DO PRODUTO *</label>
                        <input type="number" name="valor" id="preco">
                    </article>
                </section>
                <section class="campoFormularioProdutos">
                    <article class="campoInputProdutos">
                        <label for="cor">COR DO PRODUTO *</label>
                        <input type="text" name="cor" id="cor">
                    </article>                
                    <article class="campoInputProdutos">
                        <label>TAMANHO *</label>
                        <article class="inputCheckbox">
                            <select name="classificacaoProduto">
                                <option value="selecione" selected disabled>Selecione</option>
                                <option value="PP">PP</option>
                                <option value="P">P</option>
                                <option value="M">M</option>
                                <option value="G">G</option>
                                <option value="GG">GG</option>
                            </select>
                        </article>
                        <article class="campoInputProdutos">
                            <label>CLASSIFICAÇÃO *</label>
                            <select name="classificacaoProduto">
                                <option value="selecione" selected disabled>Selecione</option>
                                <option value="masculino">Masculino</option>
                                <option value="feminino">Feminino</option>
                            </select>
                        </article>
                        <article class="campoInputProdutos">
                            <label for="quantidade">QUANTIDADE EM ESTOQUE *</label>
                            <input type="number" name="quantidade" id="estoque">
                        </article>
                        
                </section>
                <section class="campoFormularioProdutos">
                    </article>
                    <article class="imagemProduto">
                        <label for="imagem">IMAGEM DO PRODUTO *</label>
                        <input type="file" name="imagemProduto" id="imagem">
                    </article>
                </section>
                <section class="campoFormularioProdutos">      

                    <article id="button">
                        <button id="buttonForm" type="submit">CADASTRAR PRODUTO</button>
                    </article>


                </section>


            </form>



        </main>



        <%- include('./partials/footer') %>

</body>

</html>