<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/styleCadastro.css">
	<link rel="stylesheet" href="../stylesheets/styleHeader.css">	
	<link rel="stylesheet" href="../stylesheets/styleCadastroProdutos.css">	



    <title>Cadastro de Produtos</title>
</head>
<body>
	<%- include('./partials/header') %>

    <main>
        <section class="tituloCadastroDeProdutos">
            <h1>CADASTRO DE PRODUTOS</h1>
        </section>


        <form action="/admin/cadastro" method="post" enctype="multipart/form-data">
            <section class="campoFormularioProdutos">
                <article class="campoInputProdutos">
                    <label for="nomeProduto">NOME DO PRODUTO *</label>
                    <input type="text" name="nomeProduto" id="nomeProduto">
                </article>
                <article class='campoInputProdutos'>
                    <label for="precoProduto">PREÇO DO PRODUTO *</label>
                    <input type="number" name="precoProduto" id="precoProduto">
                </article>
            </section>

            <section class="campoFormularioProdutos">

                <article class="campoInputProdutos">
                    <label for="idProduto">ID DO PRODUTO *</label>
                    <input type="number" name="idProduto" id="idProduto">
                </article>

                <article class="campoInputProdutos">
                    <label for="cor">COR DO PRODUTO *</label>
                    <input type="text" name="cor" id="cor">
                </article>  

            </section>

            <section class="campoFormularioProdutos">
                <article class="campoInputProdutos">
                    <label for="estoque">QUANTIDADE EM ESTOQUE *</label>
                    <input type="number" name="estoque" id="estoque">
                </article>

                <article class="campoInputProdutos">
                    <label for="classificacao">CLASSIFICAÇÃO *</label>
                    <select name="classificacao">
                        <option value="selecione" selected disabled>Selecione</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>

                    </select>
                </article>

            </section>
            
            
            
            <section class="campoFormularioProdutos">
                <article class="campoInputProdutos">

                    <label >TAMANHOS DISPONIVEIS *</label>
                    <article class="inputCheckbox">

                    
                        
                            <label for="tamanhoPP">PP</label>
                            <input type="checkbox" name="tamanhoPP"   id="tamanhoPP">

                            <label for="tamanhoP">P</label>
                            <input type="checkbox" name="tamanhoP"   id="tamanhoP">

                            <label for="tamanhoM">M</label>
                            <input type="checkbox" name="tamanhoM"  id="tamanhoM">

                            <label for="tamanhoG">G</label>
                            <input type="checkbox" name="tamanhoG" id="tamanhoG">

                            <label for="tamanhoGG">GG</label>
                            <input type="checkbox" name="tamanhoGG"  id="tamanhoGG">
                    </article>


                    
                    
                </article>
                <article class="imagemProduto">
                    <label for="imagemProduto">IMAGEM DO PRODUTO *</label>
                    <input type="file" name="imagemProduto" id="imagemProduto">
                </article>
                
                
            </section>

            <section class="campoFormularioProdutos">

                <article class="campoInputProdutos">
                    <label for="descricao">DESCRIÇÃO DO PRODUTO *</label>
                    <textarea name="descricao" id="descricao" rows="13" cols="55"></textarea>
                </article>

                <article id="button">
                    <button id="buttonForm" type="submit">CADASTRAR PRODUTO</button>
                </article>
                

            </section>
            

        </form>



    </main>



	<%- include('./partials/footer') %>
    
</body>
</html>