<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/stylesCarrinho.css">
    <link rel="stylesheet" href="../stylesheets/styleCadastro.css">
    <link rel="stylesheet" href="../stylesheets/styleHeader.css">
    <title>Carrinho</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="titulo-botao">
                <h1>MEU CARRINHO</h1>
                <button type="submit">CONTINUAR COMPRANDO</button>
        </section>
        <section class="produtosCarrinho">
            
                <div class="imagemProduto">
                    <img id="imagemProduto" src="images/camiseta-branca.webp" alt="cmiseta branca">
                </div>
                <div class="descricaoProduto">
                    <strong>Camiseta Branca</strong>
                    <p>Tamanho: M</p>
                    <p>Qtd: 1<p>
                </div>
                <div class="precoProdutoCarrinho">
                    <p>R$ 59,99</p>
                </div>
                
        </section>
        <section class="frete">
            <article class="freteValorDoPedido">
                <div class="freteCarrinho">
                    <form action="" method="post">
                        <label for="frete">FRETE</label>
                        <input type="text" name="frete" id="frete" placeholder="00000-000">
                        <button id="buttonCarrinho" type="submit">CONFIRMAR CEP</button>
                    </form>
                    <div class="naoSeiMeuCep">
                        <a href="https://buscacepinter.correios.com.br/app/localidade_logradouro/index.php">NÃO SEI MEU CEP</a>
                        
                </div>
            </article>   
            
            <article class="valorDoPedido">
                <div class="resumoDoPedido">
                    <p>RESUMO DO PEDIDO</p>
                </div>
                <div class="subtotalCarrinho">
                    <p class="1">SUBTOTAL</p>
                    <p class="2">R$ 59,99</p>
                </div>
                <div class="totalDoPedido">
                    <p>TOTAL</p>
                    <p>R$ 59,99</p>
                </div>
                <a href="/checkout"><button type="button" id="buttonCarrinho">FINALIZAR PEDIDO</button></a>
            </article>
        
    </main>
    <%- include('./partials/footer') %>  
</body>
</html>