<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/styleCheckout.css">
    <link rel="stylesheet" href="../stylesheets/styleHeader.css">	
    <title>Checkout</title>
</head>
<body>

  <%- include('./partials/header')%>

<main>

<div class="container"> 
    <div class="title">
        <h2>Dados de Entrega</h2>
    </div>
  </div>

  <div class="d-flex">
    <form action="" method="">
      <label>
        <span class="nome">Nome do Destinatário<span class="required">*</span></span>
        <input type="text" name="nome">
      </label>
      <label>
        <span class="email">E-mail<span class="required">*</span></span>
        <input type="text" name="email">
      </label>
      <label>
        <span>País<span class="required">*</span></span>
        <select name="selection">
          <option value="select">Selecione o País</option>
          <option value="AFG">Argentina</option>
          <option value="BRA">Brasil</option>
          <option value="CAN">Canada</option>
        </select>
      </label>
      <label>
        <span>Endereço<span class="required">*</span></span>
        <input type="text" name="houseadd" placeholder="Rua, Avenida, Número, etc." required>
      </label>
      <label>
        <span>&nbsp;</span>
        <input type="text" name="Complemento" placeholder="Apartamento, suite, etc. (opcional)">
      </label>
      <label>
        <span>Cidade<span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>Estado <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>CEP <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>Telefone <span class="required">*</span></span>
        <input type="tel" name="city"> 
      </label>
    </form>
    <div class="pedidoContainer">
      <table>
          <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Preço</th>
          </tr>
          <tr>
            <td>
            <div class="produtoImg">
              <img src="../images/camiseta-branca.webp">
              <div>
                <p>Camiseta Lisa Branca</p>
                <small>Tamanho: M</small>
              </div>
            </div>
          </td>
              <td><input type="number" value="1"></td> 
              <td>R$49,99</td>
          </tr>
          <tr>
            <td>
              <div class="produtoImg2">
                <img src="../images/camiseta-cinza.webp">
                <div>
                  <p>Camiseta Lisa Cinza</p>
                  <small>Tamanho: M</small>
                </div>
              </div>
            </td>
            <td><input type="number" value="1"></td> 
              <td>R$49,99</td>
          </tr>
      </table>
      <div class="totalProdutos">
        <table>
          <tr>
            <td>Subtotal</td>
            <td>R$99,98</td>
            </tr>
            <tr>
            <td>Frete</td>
            <td>R$0,00</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>R$99,98</td>
          </tr>
        </table>
      </div>
    </div>
      <button type="button">Continuar para pagamento</button>
    </div>
   </div>
  </div>

</main>

<%- include('./partials/footer')%>   

</body>
</html>