<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" href="../stylesheets/styleCadastro.css">
	<link rel="stylesheet" href="../stylesheets/styleHeader.css">
    <link rel="stylesheet" href="../stylesheets/styleFaq.css">

    <title>FAQ</title>
</head>
<body>
	<%- include('./partials/header') %>
    

    <main>
        
        <section class="textoPrincipalFaq">
            <h1>FAQ</h1>
        </section>
        <section class="textoPrincipalFaq">
            <h2>PERGUNTAS FREQUENTES</h2>
        </section>
        <section class="containerPaiFaq">
            <section class="campoLadoEsquerdo">
                <article class="campoDePerguntasFaq">
                    <h4>QUAL O DIFERENCIAL DA NOSSA CAMISETERIA ?</h4>
                    <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In qui voluptates repellat illo soluta. Similique vero molestias exercitationem veritatis soluta, adipisci saepe alias quibusdam iure, ullam quisquam animi placeat esse!</P>
                </article>
                <article class="campoDePerguntasFaq">
                    <h4>COMO FAZER A DEVOLUÇÃO OU TROCA DE ALGUM PRODUTO ?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, eum. Nihil, alias corporis? Nam, soluta quis corrupti itaque deserunt quasi vero hic alias, eligendi perspiciatis nobis nesciunt quibusdam adipisci sed?</p>
                </article>
                <article class="campoDePerguntasFaq">
                    <h4>COMO COMPRAR NA CAMISETERIA ?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum cupiditate officia excepturi voluptate dignissimos nam debitis autem quas dolore illum iusto, vitae itaque eum quia maiores a ipsam aperiam! Veniam.</p>
                </article>
            </section>
            <section class="campoLadoDireito">
                <article class="campoDePerguntasFaq">
                    <h4>COMO VEJO INFORMAÇÕES DO MEU PEDIDO ?</h4>
                    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore dolorem vero sapiente porro? Perspiciatis labore iure velit hic voluptate dolor non excepturi magnam eius repellendus expedita, iste praesentium deleniti molestias.</P>
                </article>
                <article class="campoDePerguntasFaq">
                    <h4>MEU PEDIDO ESTÁ ATRASADO / NÃO RECEBI. E AGORA ?</h4>
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil pariatur ex nam. Vero illo adipisci error necessitatibus? Omnis quae est quod, commodi minima, modi perspiciatis corrupti, provident earum facilis ad!</P>
                </article>
                <article class="campoDePerguntasFaq">
                    <h4>PRAZO DE ENTREGA E FRETE</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, cupiditate pariatur! Impedit neque error eaque fugiat! Sunt repellendus alias nobis sapiente! Beatae necessitatibus explicabo obcaecati sed neque ea soluta. Ad?</p>
                </article>
            </section>
        </section>
    </main>

	<%- include('./partials/footer') %>
    
    

    
</body>

</html>