<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/styleLogin.css">
    <link rel="stylesheet" href="../stylesheets/styleCadastro.css">
    <link rel="stylesheet" href="../stylesheets/styleHeader.css">
    <title>Login</title>
</head>

<body>
    <%- include('./partials/header') %>

        <main>
            <section class="area-cadastro">
                <div class="titulo-login">
                    <h1>
                        LOGIN
                    </h1>
                </div>
                <div class="corpo-formulario">
                    <form action="/cadastro/login" class="formulario-cadastro" method="post" id="formsRegistros">
                        <div class="linha-formulario">
                            <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                                <label for="email" id="labelEmail" >E-MAIL:</label>
                                <input type="email" id="email-form" name="email">
                                <div class="errosForm" id="erroEmail"><img src="/images/erroIcon.png" ></div>
                            </div>
                        </div>
                        <div class="linha-formulario">
                            <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                                <label for="senha" id="labelSenha">SENHA:</label>
                                <input type="password" id="senha-form" name="senha">
                                <div class="errosForm" id="erroSenha"><img src="/images/erroIcon.png" ></div>
                            </div>
                        </div>
                        <div class="esqueceu-senha">
                            <p><a href="#">Esqueceu sua senha?</a></p>
                        </div>
                        <div class="linha-formulario">
                            <div class="campo-formulario-cadastro" id="campo-linhaunica-senha">
                                <button type="submit" class="botao-cadastro-formulario">LOGIN</button>
                            </div>
                        </div>
                        <div class="nao-tem-conta">
                            <p><a href="#">Não possui uma conta? Cadastre-se</a></p>
                        </div>
                        
                    </form>
                </div>
            </section>
        </main>

        <%- include('./partials/footer') %>

    
        <script src="/javascripts/formScript.js"></script>
</body>


</html>